.Header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 0px 12px 5px;
    gap: 50px;

    width: 1920px;
    height: 50px;

    background: #07344E;
    position: fixed;
    top: 0px;
    left:0;
    right: 0px;
    z-index: 999;
}
.Header_title{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 10px;
gap: 10px;

width: 162px;
height: 100px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;

width: 142px;
height: 80px;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 30px;
line-height: 30px;

color: #FFFFFF;
position: fixed;
    top: 0px;

}
.Header_News{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 5px;
    gap: 10px;
    
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 35px;
    line-height: 42px;

    color: #FFFFFF;

    position: fixed;
    top: 12px;
    right: 450px;
    // position: absolute;
    // width: 116px;
    // height: 62px;
    // left: 872px;
    // top: 65px;

    border-bottom: 3px solid #FFFFFF;
}
.Header_About{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 5px;
    gap: 10px;
    
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 35px;
    line-height: 42px;

    color: #FFFFFF;

    position: fixed;
    top: 12px;
    right: 250px;
    // position: absolute;
    // width: 124px;
    // height: 62px;
    // left: 1057px;
    // top: 65px;
    

    border-bottom: 3px solid #FFFFFF;
}
.Header_Works{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 5px;
    gap: 10px;
    
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 35px;
    line-height: 42px;

    color: #FFFFFF;

    position: fixed;
    top: 12px;
    right: 50px;
    // position: absolute;
    // width: 128px;
    // height: 62px;
    // left: 1250px;
    // top: 65px;
    

    border-bottom: 3px solid #FFFFFF;
}
.Contents{
    position: fixed;
    top: 30px;
    right: 50px;
}